<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestor de archivos</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
</head>
<body>
    <header>
        <h1>Gestor de archivos</h1>
    </header>
    <main>
        <div id="nombres" class="infoContainer">
            <h2>Nombre</h2>
            <div class="listado" id="listadoNombres"></div>
        </div>
        <div id="tamano" class="infoContainer">
            <h2>Tamaño</h2>
            <div class="listado" id="listadoTamano"></div>
        </div>
    </main>
</body>
</html>